name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Linter
        run: npm run lint

      - name: Run Tests
        run: npm test

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v1.10
        with:
          args: >
            -Dsonar.login=${{ secrets.1ea239c8e7843a7863998cbcb8f5acc7309c7ee8 }}
